* {
    margin: 0;
    padding: 0;
    font-family: 'Sen', sans-serif !important;
    font-size: 18px !important;
}

.section {
    height: 100vh;
}

.btn-login {
    margin-left: 15px;
}

.logo {
    width: 80px;
}

.message-search {
    margin-top: 100px;
}

.list-books {
    margin: 100px;
    height: 90vh;
}

.footer {
    padding: 20px;
}